<div class="container">
  <h1>All bookings for owner <%= @owner.first_name.downcase.capitalize %></h1>
  <ul>
  	<% @owner_bookings.each do |booking| %>
		  <li>
				<%= booking.bathroom.description %> | 
				<%= booking.client.first_name %> | 
				<%= booking.date %> | 
				<%= booking.duration %> 
		  </li>
		<% end %>
	</ul>
</div>