<div class="container d-flex justify-content-center align-items-center flex-column">
	<h1>My profile</h1>
	<div class="profile-pic">
		<%= cl_image_tag @user.photo.key,
		transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "fill", quality: 80}, {width: 400, crop: "scale"}],
		class: "avatar-large"%>
	</div>
	<div class="user-infos">
		<p class="profile-name">
			<strong><%= @user.first_name.downcase.capitalize %> 
			<%= @user.last_name.downcase.capitalize %></strong>
			<%= link_to edit_user_registration_path, class: "edit-profile-btn" do %>
				<i class='far fa-edit'></i>
			<% end %>
		</p>

		<p class="profile-email"><%= @user.email %></p>
		<p class="d-flex justify-content-center"><%= link_to "Add new offer", new_bathroom_path, class:"btn btn-ghost" %></p>
	</div>
	<div class="profile-numbers d-flex justify-content-around">
		<div class="profile-numbers-container number-of-rented-bathrooms profile-numbers-div-border">
			<p class="profile-numbers-p profile-numbers-bold"><%= @user.rented_bathrooms.count %></p>
			<p class="profile-numbers-p profile-numbers-description">Bookings</p>
		</div>
		<div class="profile-numbers-container bathrooms-owned profile-numbers-div-border">
			<p class="profile-numbers-p profile-numbers-bold"><%= @user.bathrooms.count %></p>
			<p class="profile-numbers-p profile-numbers-description">Bathrooms owned</p>
		</div>
		<div class="profile-numbers-container deals-closed">
			<p class="profile-numbers-p profile-numbers-bold"><%= @user.deals.count %></p>
			<p class="profile-numbers-p profile-numbers-description">Bathrooms rented</p>
		</div>
	</div>
	
</div>
