<div id="index-bath-page" class="d-flex ">
    <div id="all-bathrooms" class="">
      <h1 class="index-title">Bathrooms:</h1>
      <br>
      <div class="bathroom-wrapper">
        <% @bathrooms.each do |bathroom| %>
        <%= link_to bathroom_path(bathroom), class: 'test', :action => 'go' do %>
          <div class="bathroom-card">
            <% if bathroom.photos.first.nil? %>
              <%= image_tag "https://increasify.com.au/wp-content/uploads/2016/08/default-image.png", alt: "bathroom", class: "bathroom-photo" %>
            <% else %>
              <%= cl_image_tag bathroom.photos.first.key, class: "bathroom-photo" %>
            <% end %>
            <div class="bathroom-details">
              <div class="bathroom-description">
                <p class="bath-desc">
                  <%= bathroom.title %>
                </p>
                <p class="line-div">________________________________________________</p>
                <br>
              </div>
              <div class="bathroom-address">
                <p>Address:</p>
                <%= bathroom.address %>
              </div>
              <br>
              <br>
              <div class="bathroom-price">
                <div class="price">
                  <p>Price:</p>
                  <p><%= "U" + number_to_currency(bathroom.price.to_f) %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div id="map"
        style="width: 43vw; height: 600px; position: fixed; right: 0px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>