<h1 class="show-title">Bathroom show</h1>

<div class="show-wrapper">
  <% if @bathroom.photos.empty? %>
    <%= image_tag "bathroom.jpg", alt: "bathroom", class: "bathroom-profile" %>
  <% else %>
    <%= cl_image_tag @bathroom.photos.last.key, class: "bathroom-profile", height: 240, width: 270 %>
  <% end %>
  <div class="show-details">
    <div class="show-description">
      <p>Bathroom description:</p>
      <%= @bathroom.description %>
    </div>
    <div class="show-address">
      <p>Address:</p>
      <%= @bathroom.address %>
    </div>
    <div class="show-price">
      <p>Price:</p>
      <% if @bathroom.price  %>
      <%= "U" + number_to_currency(@bathroom.price) %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Book this bathroom!", new_bathroom_booking_path(@bathroom), class: "btn btn-book-this" %>