<div class="bookings-title">
<h1>All Your Bookings</h1>
</div>


<% @bookings.each do |booking| %>
  <div class="booking-card">
    <% image =  booking.bathroom.photos.attached? ? cl_image_path(booking.bathroom.photos.first.key) : asset_path('bathroom.jpg')  %>
    <div class='booking-image' style="background-image: url(<%= image %>")>
    </div>
    <div class="container booking-details">
      <div class="booking-detail">
      <div>Date: </div>
      <div><%= booking.date.to_s.first(10) %></div>
      </div>
      <div class="booking-detail">
        <div>Check-in: </div>
        <div><%= booking.date.to_s[11..18] %></div>
      </div>
      <div class="booking-detail">
        <div>Duration: </div>
        <div><%= booking.duration %> min</div>
      </div>
      <div class="booking-detail">
        <div type="button" class="btn btn-success"><%= link_to 'details', booking_path(booking) %></div>
        <div type="button" class="btn btn-success"><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Delete?' } %></div>
      </div>
    </div>
  </div>
<% end %>