<div class="bookings-title">
<h1>Booking No.<%= @booking.id%>, here!</h1>
</div>


<div class="booking-card">
  
    <div class='booking-image'>
    </div>
    <div class="container booking-details">
      <div class="booking-detail">
      <div>Date: </div>
      <div><%= @booking.date.to_s.first(10) %></div>
      </div>
      <div class="booking-detail">
        <div>Check-in: </div>
        <div><%= @booking.date.to_s[11..18] %></div>
      </div>
      <div class="booking-detail">
        <div>Duration: </div>
        <div><%= @booking.duration %> min</div>
      </div>
      <div class="booking-detail">
        <div class="btn btn-success"><%= link_to 'Edit', booking_path(@booking), data: { confirm: 'You can cancel the order and make another one or call 911 to ask tecnic support.' } %></div>
        <% if Time.now < @booking.date %>
        <div class="btn btn-dark"><%= link_to 'Delete', booking_path(@booking), data: { confirm: 'You can\'t cancel the order during order time' } %></div>
        <% else %>
        <div class="btn btn-success"><%= link_to 'Delete', @booking, method: :delete, data: { confirm: 'Delete?' } %></div>
        <%end%>

      </div>
    </div>
